@{
    ViewData[index: "Title"] = "Inicio";
}

<h2>Bienvenido a TrivagoMVC</h2>
<p>Usá el menú para navegar entre las secciones (Hoteles, Ciudades → Alta, Detalle, Listado).</p>


<div class="text-center mt-4">

<img src= "~/Imagenes/tecnica12.jpg" alt= "" style="max-width:1000px; border-radius:10px">

</div>